{% extends "base.html" %}

{% block content %}
<h2>Essa é uma página de teste para os psicólogos de inteligência artificial, porque os computadores estavam muito depressivos</h2>


<p>Use esse campo maroto logo abaixo pra upar seu arquivo</p>
<p>Não esquece de clicar no botão Upload ali também, senão vai acontecer VÁRIOS NADA</p>
<p style="color: red;">Mas atenção! Se passar de 10kb o toninho da padaria vai fazer você comer lanches até ficar satisfeito</p>
<form id="file-form" action="handler.php" method="POST">
    <input type="file" id="file-select" name="photos[]" multiple/>
    <button type="submit" id="upload-button">Upload</button>
</form>

<p style="color: purple;">A verdade é que se você for um sapeca e enviar um arquivo maior que 10kb, nada vai acontecer... Talvez o programador ainda não fez uma trava pra isso? :/</p>

<script type="text/javascript" src="static/js/main.js"></script>

{% endblock %}

