{% extends "base.html" %}

{% block content %}
<p class="subtitle">
    My first website with <strong>Bulma</strong>!
</p>
<form id="file-form">
    <div class="field">
        <div class="file is-medium is-boxed has-name">
            <label class="file-label">
                <input class="file-input" id="file-select" type="file" name="files[]" multiple>
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fa fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Medium file…
                    </span>
                </span>
                <span class="file-name is-invisible" id="file-name">
                </span>
            </label>
        </div>
    </div>
    <p class="field">
        <button href="/" class="button is-primary" id="upload-button">
        <span class="icon is-small">
            <i class="fa fa-upload"></i>
        </span>
            <span>Upload</span>
        </button>
    </p>
</form>


<script type="text/javascript" src="static/js/index.js"></script>

{% endblock %}

