{% extends "base.html" %}

{% block content %}
<h2>Essa é uma página de teste para os psicólogos de inteligência artificial, porque os computadores estavam muito depressivos</h2>


<p>Use esse campo maroto logo abaixo pra upar seu arquivo</p>
<p>Não esquece de clicar no botão Upload ali também, senão vai acontecer VÁRIOS NADA</p>
<p class="vermelho">Mas atenção! Se passar de 10kb o toninho da padaria vai fazer você comer lanches até ficar satisfeito</p>
<form id="file-form">
    <input type="file" id="file-select" name="photos[]" multiple/>
    <button type="submit" id="upload-button">Upload</button>
</form>


<script type="text/javascript" src="static/js/index.js"></script>

{% endblock %}

