{% extends "base.html" %}

{% block title %}
<h1 class="title">
    Pronto!
</h1>
<h2 class="subtitle">
    Agora é só ler o(os) QRCode(s) ao lado usando o aplicativo do BinQR!
</h2>
<span class="is-size-7 has-text-grey-light">
    Caso tenha algum problema durante a leitura, clique no botão "Modo manual" para separar em várias imagens.
</span>
{% endblock %}

{% block content %}
<div id="qrcodes" class="field is-grouped is-grouped-multiline is-hidden is-grouped-centered">
    {% for key in keys %}
    {% if key != "gif.gif" %}
    <div class="control">
        <img src="data:;base64,{{ images[key] }}"/>
        <p class="has-text-weight-semibold has-text-centered"> {{key}} </p>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div id="gif">
    {% for key in keys %}
    {% if key == "gif.gif" %}
    <img src="data:;base64,{{ images[key] }}"/>
    {% endif %}
    {% endfor %}
</div>

<div class="field is-grouped is-grouped-centered">
    <p class="control">
        <a href="#" class="button is-warning" onclick="gifFallback();">
            <span class="icon is-small">
                <i id="fallbackButtonIcon" class="fa fa-thumbs-down"></i>
            </span>
            <span id="fallbackButtonText">Modo manual</span>
        </a>
    </p>

    <p class="control">
        <a href="/" class="button is-dark">
        <span class="icon is-small">
            <i class="fa fa-arrow-left"></i>
        </span>
            <span>Processar outro arquivo</span>
        </a>
    </p>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="static/js/success.js"></script>
{% endblock %}